<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Stock prediction</title>
  
  <style>
div {
background-color: rgb(0, 191, 255);
color: rgb(255, 255, 255);
}
</style>
</head>



<body bgcolor="pink">

 <div class="login">
 <br>
 <br>
 <br>
	<center><h1>Stock Prediction</h1></center>
    <p align=center>****************************************************************************</p>
     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
<h1 align=center>Please enter the following details</h1>

<br>
</style></head>
    
        
      <p align=center>Closing Price of Day 3: <input type="number"   name="target-3" placeholder="Day 3" required="required" /></p><br><br>
      <p align=center>Closing Price of Day 2: <input type="number"   name="target-2" placeholder="Day 2" required="required" /></p><br><br>
      <p align=center>Closing Price of Day 1: <input type="number"   name="target-1" placeholder="Day 1" required="required" /></p>
 

      
<br>

<br><br>

<center>
<button type="submit" class="btn btn-primary btn-block btn-large" style="height:30px;width:200px">Predict</button>
</center>
    </form>
    
    <br>
    <br>
    <p align=center>****************************************************************************</p>
<center>
<B>
<h1>Binary Brains</h1>
</B>
</center>
   

   {{ prediction_text }}

  <img src="data:image/png;base64,{{url_3}}" alt="Submit Form" height="180" width="233" onerror="this.style.display='none'"/>
  <img src="data:image/png;base64,{{url_1}}" alt="Submit Form" height="180" width="233" onerror="this.style.display='none'"/>
  <img src="data:image/png;base64,{{url_4}}" alt="Submit Form" height="180" width="233" onerror="this.style.display='none'"/>
  <br>
  <br>
  <img src="data:image/png;base64,{{url_2}}" alt="Submit Form" height="150" width="711" onerror="this.style.display='none'"/>
  
 </div>


</body>
</html>
